/* Styling af HTML-ydtræk af krydsrapporter */

/* MedCom-hjemmesidefarver*/

/* Logo- og knapgrøn: #268936 */
/* Blå Nuance af sort: #002134*/
/* Lys blå:#006CFD*/

/* Gul:#FEC34D*/
/* Grøn:#51A05E*/
/* Orange: #FA9B47*/
/* Lys blå:#006CFD*/
/* Lys blå:#D6ECCF*/


/* egne farver*/
/* mørk grå: 	#505050*/

#medcom-logo {
  position: relative;
}
#medcom-logo img {
  float: right;
  width: 150px;
  height: auto;
  top: 0px;
  right: 0px;
}

/*MedCom logo
.medcom-logo {
  width: 180px;
  --width: 10%;
  height: auto;
  padding-right: 20px;
  text-align: left;
}*/

.updated_timestamp {
  padding-top: 45px;
  text-align:left;
  font-size: 12pt;
}



BODY { font-family: "cairo", "Arial", "sans-serif"; --color:#000000; font-size:10pt }



TABLE { 
font-family: "cairo", "Arial", "sans-serif"; 
--color:#000000; 
font-size: 8pt;
table-layout: fixed;
width: 100%} 

/* Table header*/
th { 
	position: sticky;
	top: 0;
	color:#FFFFFF; 
	background-color:#002134; 
	font-size: 12pt; 
	font-weight:bold
	}
	
/*Styling af de første 3 header-felter*/
th:nth-child(1){
  background-color: #505050;
  text-align: left;
  padding-left: 10px;
  --opacity: 70%;
}
th:nth-child(2){
  background-color: #505050;
  text-align: left;
  padding-left: 10px;
  --opacity: 70%;
}
th:nth-child(3){
  background-color: #505050;
  text-align: left;
  padding-left: 10px;
  --opacity: 70%;
}


/* Table data*/
td { 
--background-color:#F5F5F5;
font-family: "cairo", "sans-serif"; 
font-weight:bold; font-size:10pt; 
text-align: center; 
}

/*Styling af hver anden række
tr:nth-child(even){
  background-color: #D0D0D0;
  }*/

tr:nth-child(even) {background: #F2F2F2}
tr:nth-child(odd) {background: #FFFFFF}

/*Styling af de første 3 kolonner*/
td:nth-child(1){
  --background-color: #D0D0D0;
  text-align: left;
  font-size:12pt;
  padding-left: 10px;
  }
td:nth-child(2){
  --background-color: #D0D0D0;
  text-align: left;
  font-size:12pt;
  padding-left: 10px;
}
td:nth-child(3){
  --background-color: #D0D0D0;
  text-align: left;
  font-size:12pt;
  padding-left: 10px;
}


/*Styling af de første 3 kolonner
td:nth-child(1){
  background-color: #D0D0D0;
  text-align: left;
  font-size:12pt;
  }
td:nth-child(2){
  background-color: #D0D0D0;
  text-align: left;
  font-size:12pt;
}
td:nth-child(3){
  background-color: #D0D0D0;
  text-align: left;
  font-size:12pt;
}
*/


H1 { font-family: "cairo", "Arial", "sans-serif"; font-weight:normal; color: #000066; font-size:36pt }
H2 { font-family: "cairo", "Arial", "sans-serif"; font-weight:normal; color: #000066; font-size:16pt }
H3 { font-family: "cairo", "Arial", "sans-serif"; font-weight:normal; color: #000066; font-size:12pt }
H4 { font-family: "cairo", "Arial", "sans-serif"; font-weight:normal; color: #000066; font-size:10pt }